name: CI/CD Inventory Management

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build React frontend
        working-directory: Frontend
        run: |
          npm install
          CI=false npm run build

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/inventory-management
            git pull origin main

            cd backend
            npm install
            pm2 restart backend

            cd ../Frontend
            npm install
            CI=false npm run build

            sudo rm -rf /var/www/html/*
            sudo cp -r build/* /var/www/html/

            pm2 save